version: '{build}'
image: Visual Studio 2013
skip_tags: true
skip_commits:
  files:
    - '**/*.md'
    - .gitignore
before_build:
- cmd: cd build
build_script:
- cmd: build.bat
artifacts:  
- path: artifacts/*.nupkg
  name: nupkg
  type: File
deploy:
- provider: NuGet
  name: NuGet
  api_key:
    secure: bP+3+r6NPoiV1kVeM/5x4OPM2p7p0zJXeV9E1wKoEAMtIhhi7+HRVycNsa8v1Ujc
  artifact: nupkg
  on:
    branch: master
- provider: NuGet
  name: MyGet
  server: https://www.myget.org/F/dittodhole/api/v2/package
  api_key:
    secure: c9r6oyxFOqnfj0xezZcLIoopgoBUb5ib9nrTYMkXDTqzvMrrXmprbHgyldag6NZ4
  artifact: nupkg
  symbol_server: https://www.myget.org/F/dittodhole/symbols/api/v2/package
